.icon--circle {
    border-radius: 50%;
}

.icon--circle__cate {
    width: 9rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: var(--purple);
    font-size: 4rem;
}

.icon--circle__cate:nth-child(2n) {
    background-color: #707070;
}

.icon__locaion {
    display: flex;
    width: 5.2rem;
    height: 3.4rem;
    border-radius: 2.6rem;
    color: var(--purple);
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid var(--purple);
    justify-content: center;
    align-items: center;
}

.icon__locaion--small {
    width: 4.2rem;
    height: 2.8rem;
    border-radius: 2.1rem;
    font-size: 1.2rem;
}

.icon--square {
    width: 6rem;
    height: 6rem;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
}

.icon--square--small {
    width: 4.8rem;
    height: 4.8rem;
    margin-right: 2.7rem;
}