<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="somoimMapper">
	<select id="getNextSeq" resultType="_int">
		SELECT SQU_MOIM.NEXTVAL FROM DUAL
	</select>
	<select id="selectAll" resultType="somoimDto">
		SELECT M.MOIM_ID AS moimId
			 , M.MOIM_TITLE AS moimTitle
			 , M.MOIM_INFO AS moimInfo
			 , M.MOIM_LIMIT AS moimLimit
			 , M.LOCATION_ID AS locationId
			 , M.MOIM_IMAGE_PATH AS moimImagePath
			 , L.LOCATION_NAME AS locationName
			 FROM MOIM M
			 LEFT JOIN LOCATIONS L
			 ON M.LOCATION_ID = L.LOCATION_ID 
	</select>
	<select id="selectData" resultType="somoimDto">
		SELECT MOIM_ID AS moimId
			 , MOIM_TITLE AS moimTitle
			 , MOIM_INFO AS moimInfo
			 , MOIM_LIMIT AS moimLimit
			 , LOCATION_ID AS locationId
			 , MOIM_IMAGE_PATH AS moimImagePath
			 FROM MOIM
			 WHERE MOIM_ID = #{moimId}
	</select>
	<insert id="insertData" parameterType="somoimDto">
		INSERT INTO MOIM(MOIM_ID
				  , MOIM_TITLE
				  , MOIM_INFO
				  , MOIM_LIMIT
				  , LOCATION_ID
				  , MOIM_IMAGE_PATH)
		     VALUES(SQU_MOIM.NEXTVAL
		     	  , #{moimTitle}
		     	  , #{moimInfo}
		     	  , #{moimLimit}
		     	  , #{locationId}
		     	  , #{moimImagePath})
	</insert>
</mapper>