@charset "UTF-8";

/*--------------------------------------------------------통합적*/


.myPage{
	margin:20px auto 200px auto;
	border: 1px solid #dfdfdf;
	width: 1200px;
	height: 320px;
	border-radius: 20px;
}

.title-img{
	object-fit: cover;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}
        
.main-container{
	padding: 10px 0 0 0;
	width: 100%;
    height: 100%;
}


.main {
	margin:0px auto;
	width: 1200px;
} 

.coverImg{
	width: 1200px;
	height: 350px;
}

.myPage>.coverImg:hover {
	filter: brightness(80%);
}

.imgSelect{
	display: none;
}

#coverImgSelect-btn{
	display: none;
}


/*--------------------------------------------------------프로필사진 부분*/
.profile-user-img {
	margin: 0 15px 0 10px;
    width: 160px;
    height: 160px; 
    border-radius: 70%;
    overflow: hidden;
    float:left;
    border: 1px solid #dfdfdf;
}

.profile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.imgSelect-box{
	font-size: 55%;
	height: 100px;
}


.profile-user-img>img:hover {
	 filter: brightness(80%);
}

.imgSelect-box>i:hover  {
	 filter: brightness(80%);
	 color: gray;
}


.moim-img{
	height: 100px;
}


/*--------------------------------------------------------아이콘 부분*/
.simple-info span{
	position: relative;
	top: 65px;
	left: -20px;
}




/*--------------------------------------------------------심플정보*/
.simple-info-box {
	 display: flex;
	 position: relative;
     top: -50px;
     height: 200px;
     width: 1200px;
     border-bottom: solid rgb(240, 242, 245);
	padding-left: 40px;
}

.simple-info>input {
	border: none;
	position: relative;
	background-color: white;
	top: 60px;
}

.simple-info>input:nth-child(3){
	left: -18px;
}
.simple-info>span:nth-child(4){
	left: -45px;
}
.simple-info>input:last-child{
	left: -45px;
}

.simple-info>.name {
	width: 130px;
	font-size: 30px;
	font-weight: bold;
}

.simple-info>.birth,.location {
	width: 100px;
	font-size: 90%;
}





/*--------------------------------------------------------카테고리*/


.category-box{
	display: flex;
	position: absolute;
	top: 120px;
	left: 225px;
}

.category-box i {
	display: flex;
	margin-right: 10px;
}

.category-img{
    margin: 0 20px 0 0;
}

.category-img>.tage{
	display:flex;
	object-fit: cover;
}

.imgSelect-box{
	display: flex;
	position: relative;
	width: 300px;
	top: 120px;
	left: 10px;
}
.imgSelect-box>.coverImage,.modify{
	padding: 5px 0 0 0;
	height: 45px;
	right: -210px;
	background-color: rgb(98, 161, 254);
	top: -5px;
	text-align: center;
	font-weight: bold;
}

.imgSelect-box>.modify{
	background-color: rgb(98, 161, 254);
	width: 150px;
	position:relative;
	right: -200px;
	font-weight: bold;
}

.imgSelect-box>.coverImage{
	padding:0 0 2px 0;
	position:relative;
	right: -350px;
	top: -93px;
	width: 150px;
}

div>button:hover{
	filter: brightness(80%);
}

ul>.pati-list:hover{
	filter: brightness(80%);
}


/*--------------------------------------------------------내모임, 내가 작성한글, 내가 작성한 댓글*/

div>.card{
	border: 1px solid #dfdfdf;
}

div>.card-header{
	background-color: rgb(231,241,255);
}

div>.card-header>h2{
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3px;
}

ul>.pati-list {
	margin: 0 0 15px 0;
	font-weight: bold;
}


ul>li>.pati-info{
	padding-bottom: 20px;
	border: none;
	border-bottom:solid;
	border-bottom-width:thin;
	border-color: rgb(223,223,223);
}

.card-body {
   height: 700px;
}

.moim-info {
	padding: 0 0 0 40px;
	text-align:left;
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}


.moim-img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   width: 100px;
   height: 100px;
	margin-top: 7px;
	margin-bottom: 15px;
}
  

.moim-name{
   text-decoration-line: none;
   color: black;
}


.comment-info>.comment-name
,.comment-date{
   font-weight: bold;
}

.comment-info{
	display: flex;
	justify-content: space-between;
   text-align: left;
	color: var(--gray);
	font-size: 13px;
	margin-top: 10px
}

.comment{
   text-align: left;
}

.comment>span{
	font-weight: bold;
}

/* 추가 */
.profile-info {
	display: flex;
	flex-direction: column;
}

.moim-title, .moim-loc, .moim-part {
	display: inline-block;
	margin :0;
	vertical-align: text-top;
}

.moim-title {
	font-size: 25px;
}

.moim-loc {
	margin-bottom: 20px;
}

.moim-part {
	font-size: 13px;
	margin-bottom: 15px;
	color: var(--gray);
}
.section-container {
	margin-bottom: 25px;
}
.comment-box {
	margin-bottom: 20px;
}

.info-board-title {
	display: flex;
	margin-bottom: 10px;
	justify-content: space-between;
}

.info-board-title>span {
	font-size: 13px;
	color: var(--gray);
}

.info-board-img {
	width: 30px;
	height: 30px;
}

.info-board {
	display: flex;
	flex-direction: column;
}

.info-board-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 20px
}

.info-board-content span:last-child {
	font-weight: 400;
	font-size: 15px;
	text-align: left;
}