@charset "UTF-8";

/*boxSize*/


.mainbox{
	margin-left: 8rem;
	margin-right: 8rem;
	margin-top:227px;
	margin-bottom:150px;
}

.container-1 {
	margin: 0.2rem 0.5rem;
}


.img-box-size-1{
	height: 240px;
  
}

.category-box-120{
	height:120px;
	width: 120px;
	border-radius:50%;
}

.date-bs{
    width:90px;
    height:90px;
}

.width{
    width:auto;
    z-index:2;
}

.moim-colecter{
    width:220px;
    height:90px;
    z-index:1;
}

.width-100{
	width:100%;
}



/*position*/

.card-body-position{
	flex: 1 1 auto;
	padding: 1rem 1rem;
  }

.flex-box{
   display:flex;
}

.center{
	display:flex;
	justify-content: center;
	align-items: center;
}

.space-between{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.psi-r{
	position:relative;
}

.psi-a{
	position:absolute;
}




/*move*/

.bottom-10{
  bottom: 10px;
}


.top-50{
	top: 50px;
  }

.top-40{
	top:50px;
}

.top-20{
	top:20px
}

.left-28{
	left:28px;
}

.left-24{
	left:24px;
}



/* margin*/


.margin-10{
	margin:10px;
}

.margin-left-600{
	margin-left: 600px;
}

.margin-left-auto{
	margin-left: auto;
}
.img-box{
	margin:20px 150px 0px 150px;
}

.margin-top-20{
    margin-top:20px;
}

.margin-top-50{
    margin-top:50px;
}

.margin-top-78{
    margin-top:78px;
}


.nav-item a {
	margin-right:30px;
}


.margin-left-10{
	margin-left:10px;
}


.margin-left-160{
    margin-left:160px;
}

.margin-bottom-20{
	margin-bottom:20px;
}

.margin-left-223{
	margin-left:223px;
}

.info-box-mb div {
	margin-bottom:3px;
}




/*padding*/


.p-6{
	padding:6px;
}

.p-15{
	padding:15px;
}


.p-30{
	padding:30px;
}


/*font*/

.font-s-50{
	font-size:50px;
}

.nav-item a {
    font-size:20px;	
}

.font-s-30{
    font-size:30px;	
}

/*color*/

.bc-wh{
	background-color:white;
}

.bc-wg{
	background-color:#eff1f3;
}

/*border*/
.bora-20{
    border-radius:10px;
}

/*word*/
.word-hidden {
	margin-top: 3px;
	color: black;
    overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	line-height: 1.2;
	height: 3.6em;
	text-align: left;
	word-wrap: break-word;
	display: -webkit-box;
	-webkit-line-clamp: 3 ;
	-webkit-box-orient: vertical;
	font-weight: normal;
	
}

/*display*/

.ImgSelect{
	display: none;
}

/*추가*/
.hoverMem{
	border-radius: 8px;
	background-color: #669cec30;
}

.partList {
	width: 100%;
	padding: 1px;
}